[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
djangorestframework = "*"
django-cors-headers = "*"

[dev-packages]
pylint-django = "*"
autopep8 = "*"
pylint = "*"
pre-commit = "*"
gitpython = "*"

[requires]
python_version = "3.9"
