{% extends "adminapp/base/index.html" %}
{% block content %}
<div class="shop-list container">
  <h1 class="center-text">Shop Items</h1>
  <h4 class="center-text">Click item name to see details</h4>
  <div class="shopButtons">
    <a href="{% url 'create_shop_item' %}">
      <button class="btn btn-outline-dark">Add an Item</button>
    </a>
  </div>
  <table class="table table-striped table-bordered">
    <thead>
        <tr>
            <th class="center-text">Name</th>
            <th class="center-text">Price</th>
            <th class="center-text">Description</th>
            <th class="center-text">Image</th>
        </tr>
    </thead>
    <tbody id="itemTable">
        {% for item in items %}
        <div>
          <tr>
            <td class="center-text"><a href="{% url 'edit_shop_item' item.id %}">{{ item.name }}</a></td>
            <td class="center-text">{{ item.price }}</td>
            <td class="center-text">{{ item.description }}</td>
            <td class="center-text"><img src="{{ item.image }}" width="250" height="325"/></td>
          </tr>
        </div>
        {% endfor %}
    </tbody>
  </table>
  <div class="pagination">
    <span class="step-links">
        {% if items.has_previous %}
            <a href="?page=1">&laquo; first</a>
            <a href="?page={{ items.previous_page_number }}">previous</a>
        {% endif %}
        <span class="current">
            Page {{ items.number }} of {{ items.paginator.num_pages }}.
        </span>

        {% if items.has_next %}
            <a href="?page={{ items.next_page_number }}">next</a>
            <a href="?page={{ items.paginator.num_pages }}">last &raquo;</a>
        {% endif %}
    </span>
</div>
</div>
{% endblock %}
