{% extends "adminapp/base/index.html" %}
{% block content %}
<div class="container text-center mt-5">
  <h5>
    Thank you for taking the first step toward joining our community at Muka! We appreciate your interest in becoming a part of our vibrant space built for minority agents and vendors.
  </h5>
  
  <p>
    Your application is important to us, and we're currently reviewing it with care. Over the next few days, we'll be working diligently to process and approve your application. In the meantime, explore the possibilities that await you at our HOME.
  </p>
  
  <p>
    If you have any questions or concerns during this time, feel free to reach out to us at <a href="mailto:hello@mukaishome.com">hello@mukaishome.com</a>. We look forward to welcoming you into our community and appreciate your enthusiasm for being a part of our journey. Thank you for applying!
  </p>
</div>
{% endblock %}
