{% extends "adminapp/base/index.html" %}
{% block content %}
<div class="container text-center mt-5">
  {% if request.user.is_superuser %}
  <p>
    Welcome to the Admin App
  </p>
  {% else %}
  <h5>
    You signing up is important to us.
  </h5>
  <p>
    We're working to process and approve it over the next few days.
  </p>
  <p>
    If you have any questions or concerns during this time, feel free to reach out to us at <a href="mailto:hello@mukaishome.com">hello@mukaishome.com</a>.
  </p>
  <p>
    We look forward to welcoming you into our community and appreciate your enthusiasm for being a part of our journey. Thank you for applying!
  </p>
  {% endif %}
</div>
{% endblock %}
